@import "../../styles/theme.scss";
.favorite {
  @include themify($themes) {
    h1 {
      font-size: 30px;
      color: themed("textColor");
      padding: 20px 0;
      font-weight: 600;
      text-align: center;
    }
    color: themed("textColor");
    background-color: themed("bg");

    display: flex;
    flex-direction: column;
    padding: 0 100px 100px;
    gap: 20px;

    .charts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      .title {
        font-size: 30px;
        color: orange;
        text-align: center;
        margin-top: 20px;
      }
      .chart {
        margin-top: 50px;
        width: 100%;
        height: 400px;
      }
    }
  }
}
